<a href="https://colab.research.google.com/github/shishiradk/sqlite3-understanding-with-example/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
##connect to an SQlite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [5]:
#create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
  id Integer Primary Key,
  name Text,
  age Integer,
  department text
)
'''

)

##commit the change
connection.commit()

In [22]:
#clear the old data
cursor.execute('DELETE FROM employees')

In [23]:
cursor.execute('''
Select * from employees
''')

In [24]:
##innsert the data inn sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
VALUES ('Bob',25,'IT')

''')

cursor.execute('''
Insert Into employees(name,age,department)
VALUES ('Tom',25,'IT')

''')

cursor.execute('''
Insert Into employees(name,age,department)
VALUES ('Bom',25,'IT')

''')

##commit the change
connection.commit()

In [25]:
## query the data from the table
cursor.execute('Select *from employees')
rows=cursor.fetchall()

##print the quired
for row in rows:
  print(row)

(1, 'Bob', 25, 'IT')
(2, 'Tom', 25, 'IT')
(3, 'Bom', 25, 'IT')

In [26]:
##update the data inn table

cursor.execute('''
UPDATE employees
Set age=34
where name="Bob"

''')

connection.commit()

In [27]:
##query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

##print the quried data

for row in rows:
  print(row)

(1, 'Bob', 34, 'IT')
(2, 'Tom', 25, 'IT')
(3, 'Bom', 25, 'IT')

In [31]:
##Delete the data fromm the table
cursor.execute('''
DELETE FROM employees
where name="Tom"
''')

connection.commit()

In [32]:
## query the data from the table
cursor.execute('Select *from employees')
rows=cursor.fetchall()

##print the quired
for row in rows:
  print(row)

(1, 'Bob', 34, 'IT')
(3, 'Bom', 25, 'IT')

In [39]:
##simple project

import sqlite3

# Connect to SQLite database
connection = sqlite3.connect('sales.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
  id INTEGER PRIMARY KEY,
  product_name TEXT,
  quantity INTEGER,
  price REAL
)
''')

# Insert data into the sales table
sales_data = [
    ('Phone', 10, 500),
    ('Laptop', 5, 1000),
    ('Tablet', 8, 300)
]

cursor.executemany('''
INSERT INTO sales (product_name, quantity, price)
VALUES (?, ?, ?)
''', sales_data)

# Commit the changes
connection.commit()

##query the data from the table
cursor.execute("SELECT * FROM sales")
for row in cursor.fetchall():
    print(row)

# Close the connection
connection.close()

(1, 'Phone', 10, 500.0)
(2, 'Laptop', 5, 1000.0)
(3, 'Tablet', 8, 300.0)